<!-- Model Information -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/style/css/bootstrap.css">
    <!-- Style CSS -->
	<link rel="stylesheet" href="../static/style/css/style.css">

<style>
h2 {
	font-weight: bold;
	font-size: 24px;
}

h3 {
  font-weight: normal;
  font-style: italic;
  font-size: 18px;
  color: #707070;
}

p {
  text-align: center;
  font-size: 18px;
}

</style>

</head>
<body>
<!-- Navigation Bar -->
<div class="topnav">
	<a href="/">Home</a>
	<a href="/data">Data Description</a>
	<a class="active" href="/about">ML Model</a>
	<a href="/future">Future Endeavors</a>
	<a href="/team">About Our Team</a>
</div>

<!-- Main Content-->
<div align="center">
	<img src = "../static/img/network.png"  width="20%">
	<figcaption>Fig. Simple Illustration of Neural Network Architecture (Source: <a href="https://www.sitepoint.com/keras-digit-recognition-tutorial/" target="_blank" > A Beginner's Guide to Keras: Digit Recognition in 30 Minutes</a>) </figcaption>
</div>

<div class="content" align="center">
	<p> The model built and used for detecting and predicting brain tumor is a 2D CNN with one hidden layer.
	It is built with Tensorflow and Keras. The input images (data set is described in the "Data Description" tab) are 240x240x1 the 1 indicates 1 channel and converted into grayscale.
    The output is just a 1D array the length of the samples (ex. if input 100 images, it would output 100 predictions of 1 or 0 for whether or not there is a tumor).<br />
	Number of Epoch:<br />
	Learning Rate:<br />
	Accuracy:
	</p>
</div>

<!-- Footer -->
<div class = "footer">
  <p>UW DATA 515 Winter 2021 Final Project - Brain Tumor Detection<br>
  <a href="https://github.com/aaliyahfiala42/DATA-515-Brain-Scan"  style="color:white">GitHub Page</a></p>
</div>

</body>
</html>