<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/style/css/bootstrap.css">
    <!-- Style CSS -->
	<link rel="stylesheet" href="../static/style/css/style.css">

<style>
h2 {
	font-weight: bold;
	font-size: 24px;
}

h3 {
  font-weight: normal;
  font-style: italic;
  font-size: 18px;
  color: #707070;
}

p {
  text-align: center;
  font-size: 18px;
}

</style>

</head>
<body>

<div class="topnav">
	<a href="/">Home</a>
	<a href="/data">Data Description</a>
	<a href="/about">ML Model</a>
	<a href="/future">Future Endeavors</a>
	<a class="active" href="/team">About Our Team</a>
</div>

<div class="content" align="center">
	<p>Our team consists six students from University of Washington Master of Data Science program: <br/>
	Aaliyah Fiala, Jordan Fields, Vanessa Hsu, Trevor Nims, Alyson Suchodolski, Sabrina Wang
	</p>
</div>
<div class = "footer">
  <p>UW DATA 515 Winter 2021 Final Project - Brain Tumor Detection<br>
  <a href="https://github.com/aaliyahfiala42/DATA-515-Brain-Scan"  style="color:white">GitHub Page</a></p>
</div>

</body>
</html>