<!-- CHANGING BELOW COMMENT WILL BREAK UNIT TESTING -->
<!-- Future Endeavors -->
<!-- CHANGING ABOVE COMMENT WILL BREAK UNIT TESTING -->
<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <title>Title</title>


    <!-- Bootstrap CSS -->
    <link rel = "stylesheet" href = "../static/style/css/bootstrap.css">
    <!-- Style CSS -->
	<link rel = "stylesheet" href = "../static/style/css/style.css">

<style>
h2 {
	font-weight: bold;
	font-size: 24px;
}

h3 {
  font-weight: normal;
  font-style: italic;
  font-size: 18px;
  color: #707070;
}

p {
  text-align: center;
  font-size: 18px;
}

</style>

</head>
<body>
<!-- Navigation Bar -->
<div class = "topnav">
	<a href = "/">Home</a>
	<a href = "/data">Data Description</a>
	<a href = "/about">ML Model</a>
	<a class = "active" href = "/future">Future Endeavors</a>
	<a href = "/team">About Our Team</a>
</div>

<!-- Main Content-->
<div class = "content" align = "center">
	<p>This project was originally plan on using 3D MRI scan (.mha) file to build a CNN model that is able to make, however, due to the lack of GPU, we were not able to perform the heavy computing required for a 2D CNN model.
We tried other methods to take slices from the 3D MRI scan and train a model on the selected slices. But one issue with this approach is that we very likely miss the tumor by only examine the selected slices.
For example, if we selected the middle slice of the scan, the tumor might locate on the top or the bottom of the brain, we would made a wrongly classification.</p>

	<img src = "../static/img/MRI.gif" width = "30%">
	<figcaption>Gif showing all 155 layers of a .mha MRI scan (Data Source: <a href = "https://www.kaggle.com/andrewmvd/brain-tumor-segmentation-in-mri-brats-2015" target = "_blank">Brain Tumor Segmentation in MRI (BRATS 2015)</a> ) </figcaption>

	<p>In the future, if our team has the access to a GPU machine with more processing power, it would be a good approach to look at 3D CNN model to taking in all layers of the scan files. </p>

</div>


<!-- Footer -->
<div class = "footer">
  <p>UW DATA 515 Winter 2021 Final Project - Brain Tumor Detection<br>
  <a href = "https://github.com/aaliyahfiala42/DATA-515-Brain-Scan"  style = "color:white">GitHub Page</a></p>
</div>

</body>
</html>
