<!-- CHANGING BELOW COMMENT WILL BREAK UNIT TESTING -->
<!-- Team member information -->
<!-- CHANGING ABOVE COMMENT WILL BREAK UNIT TESTING -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/style/css/bootstrap.css">
    <!-- Style CSS -->
	<link rel="stylesheet" href="../static/style/css/team_style.css">

	<script src="https://kit.fontawesome.com/2550a92b94.js"
	crossorigin="anonymous"></script>

<style>
h2 {
	font-weight: bold;
	font-size: 24px;
	font-family: sans-serif;
}

h3 {
  font-weight: normal;
  font-family: sans-serif;
  font-size: 20px;
}

p {
  font-family: sans-serif;
  text-align: center;
  font-size: 18px;
}

</style>

</head>
<body>
<!-- Navigation Bar -->
<div class="topnav">
	<a href="/">Home</a>
	<a href="/data">Data Description</a>
	<a href="/about">ML Model</a>
	<a href="/future">Future Endeavors</a>
	<a class="active" href="/team">About Our Team</a>
</div>

<h1 align="center"> Meet the Team! </h1>

<!-- Main Content-->
<div class="content" align="center">
	<p>Our team consists of six students from the University of Washington Master of Data Science program class of 2022:
	</p>
</div>

<div class = "container">
    <!--Team 1-->
    <div class="our-team">
        <img src="../static/img/Aaliyah Fiala.jpg" style="width:100%">
        <h3>Aaliyah Fiala</h3>
        <ul class="social">
            <li><a href="https://www.linkedin.com/in/aaliyah-h%C3%A4nni-7163b6b1/"
                   class="fab fa-linkedin"></a></li>
        </ul>
    </div>

    <!--Team 2-->
    <div class="our-team">
        <img src="../static/img/Sabrina Wang.jpg" style="width:100%">
        <h3>Sabrina Wang</h3>
        <ul class="social">
            <li><a href="https://www.linkedin.com/in/luxin-wang/"
                   class="fab fa-linkedin"></a></li>
        </ul>
    </div>

    <!--Team 3-->
    <div class="our-team">
        <img src="../static/img/Trevor Nims.jpg" style="width:100%">
        <h3>Trevor Nims</h3>
        <ul class="social">
            <li><a href="https://www.linkedin.com/in/trevor-nims-2a8506158/"
                   class="fab fa-linkedin"></a></li>
        </ul>
    </div>
</div>

<div class="container">
    <!--Team 4-->
    <div class="our-team">
        <img src="../static/img/Vanessa Hsu.jpg" style="width:100%">
        <h3>Vanessa Hsu</h3>
        <ul class="social">
            <li><a href="https://www.linkedin.com/in/vaneshsu/"
                   class="fab fa-linkedin"></a></li>
        </ul>
    </div>

    <!--Team 5-->
    <div class="our-team">
        <img src="../static/img/Alyson Suchodolski.jpg" style="width:100%">
        <h3>Alyson Suchodolski</h3>
        <ul class="social">
            <li><a href="https://www.linkedin.com/in/alyson-suchodolski-a7a235139"
                   class="fab fa-linkedin"></a></li>
        </ul>
    </div>

    <!--Team 6-->
    <div class="our-team">
        <img src="../static/img/Trevor Nims.jpg" style="width:100%">
        <h3>Trevor Nims</h3>
        <ul class="social">
            <li><a href="https://www.linkedin.com/in/trevor-nims-2a8506158/"
                   class="fab fa-linkedin"></a></li>
        </ul>
    </div>
</div>

<!-- Footer -->
<div class = "footer">
  <p>UW DATA 515 Winter 2021 Final Project - Brain Tumor Detection<br>
  <a href="https://github.com/aaliyahfiala42/DATA-515-Brain-Scan"  style="color:white">GitHub Page</a></p>
</div>

</body>
</html>