
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

body {
    margin: 0px;
    height: 100%;
    position: relative;
    box-sizing: border-box;
}

.wrapper {
    min-height: 100vh;
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color:black;
  color: white;
  padding: 5px 0px 16px 0px;
}

.row {
  display: flex;
}

/* Create two columns that sits next to each other */
.column {
  flex: 50%;
  padding: 5px;
}

.content {
  width: 60%;
  margin: auto;
}
